<div class="container" *ngIf="gifts">
    <div class="jumbotron">
        <h1>{{ gifts[0].label }}</h1>
        <h5>Mon cadeau en détails...</h5>
        <p>{{gifts[0].details}}</p><br>

        <a [routerLink]="['/gifts', gifts[0]._id, 'edit']" class="btn btn-primary">Modifier</a>
        <button (click)="delete(gifts[0].person_id)" class="btn btn-danger ml-2">Supprimer</button>
        <a *ngIf="gifts[1]" [routerLink]="['/peoples', gifts[1]._id]" class="btn btn-success ml-2">Secret santa</a>
    </div>
<!--    <div *ngIf="gifts[1]">-->
<!--        <h2>Votre père noël</h2>-->
<!--        <h4>{{gifts[1].firstname}} {{ gifts[1].lastname }}</h4>-->
<!--        <p>id: {{gifts[1]._id}}</p>-->
<!--        <p *ngIf="gifts[1].email">Email: {{ gifts[1].email }}</p>-->
<!--    </div>-->
</div>
