<div class="container" *ngIf="people">
    <div class="jumbotron">
        <h1>{{people[0].firstname}} {{ people[0].lastname }}</h1>

        <p>
            <b>Adresse mail</b>
        </p>

        <p *ngIf="people[0].email">
            {{people[0].email}}
        </p>
    </div>

    <div class="grid-2_1">
        <div *ngIf="people[1]" class="whiteBox">
            <h3>Votre père noël</h3>
            <h4>{{people[1].firstname}} {{ people[1].lastname }}</h4>
            <p>
                <b>
                    Adresse mail
                </b>
            </p>
            <p *ngIf="people[1].email">
                {{people[1].email}}
            </p>
        </div>

        <div class="whiteBox">
            <a [routerLink]="['/peoples', people[0]._id, 'gifts']" class="btn btn-primary mb-2">Voir la liste des cadeaux</a><br>
            <a [routerLink]="['/peoples', people[0]._id, 'edit']" class="btn btn-success mb-2">Modifier le membre</a><br>
            <button (click)="delete()" class="btn btn-danger">Supprimer le membre</button>
        </div>
    </div>
</div>
